<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gambar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gambar"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiteraKu"
        tools:targetApi="31">

        <!-- Define HomeActivity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" /> <!-- Set to true so it can be launched from other activities -->

        <!-- Define DatabaseHelper activity (Usually a helper class, so this might not need to be an activity) -->
        <activity
            android:name=".DatabaseHelper"
            android:exported="false" /> <!-- This is usually not an activity, so it should not be in the manifest -->

        <!-- Define MainActivity2 -->
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.LiteraKu" />

        <!-- Define SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
